.venv
venv
__pycache__
node_modules
**/node_modules
.git
.gitignore
local.ann
local.ann.meta.json
dist
.next
*.log
Dockerfile*
docker-compose*.yml
*.pyc
*.pyo
*.pyd
*.sqlite3
npm-debug.log
yarn-error.log
.env
.env.*
!.env.example
pnpm-cache
.vscode
.idea
*.swp
*.swo
.DS_Store
.venv311
.npm
.pnpm-store

pnpm-lock.yaml
package-lock.json
/.vscode
/.ideanode_modules
.next
.git
.DS_Store
.env.local
